server:
  port: 8080


spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: lyp19891117
    url: jdbc:mysql://106.12.137.47:3306/chat_dev?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC

mybatis:
  type-aliases-package: com.novli.netty.chat.pojo
  mapper-locations: classpath*:**/mapper/*.xml

fdfs:
  so-timeout: 1501
  connect-timeout: 601
  thumb-image:             #缩略图生成参数
    width: 150
    height: 150
  tracker-list:            #TrackerList参数,支持多个
    - 106.12.137.47:22122
