<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novli.netty.chat.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.novli.netty.chat.pojo.Users">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="face_image" jdbcType="VARCHAR" property="faceImage"/>
        <result column="face_image_big" jdbcType="VARCHAR" property="faceImageBig"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="qrcode" jdbcType="VARCHAR" property="qrcode"/>
        <result column="cid" jdbcType="VARCHAR" property="cid"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, face_image, face_image_big, nickname, qrcode, cid
    </sql>

    <sql id="condition">
        <where>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
    </sql>

    <select id="selectOne" parameterType="com.novli.netty.chat.pojo.Users" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        <include refid="condition"/>
    </select>

</mapper>
